moodleXML-json-converter/ressources/xmlSchemas/category.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="quiz">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="question">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="text"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="type" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>